<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label floating>Nombre</ion-label>
        <ion-input
          type="name"
          required
          name="clave"
          ngModel ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button ion-button
        (click)="viewDesarrollador()">
        Get Developer
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item *ngIf="datos && datos.exito == 'SI'">
        {{datos.nombre}}
      </ion-item>
      <ion-item *ngIf="datos && datos.exito == 'SI'">
        {{datos.nombrearchivo}}
      </ion-item>
      <ion-item *ngIf="datos && datos.exito == 'SI'">
        {{datos.ruta}}
      </ion-item>
      <ion-item *ngIf="datos && datos.exito == 'SI'">
        {{datos.mensaje}}
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
