<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Busca y registra
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label floating>Nombre</ion-label>
        <ion-input
          type="name"
          required
          name="clave"
          [(ngModel)]="nombre"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button style="height: 2rem;" ion-button
        (click)="viewDesarrollador()">
        Buscar Desarrollador
      </button>
    </ion-col>
    <ion-col>
      <button style="height: 2rem;" ion-button
        (click)="registrarDesarrollador()">
        Registrar Desarrollador
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ng-container *ngIf="condicional && datos.mensaje != '' && registerPost.exito == 'SI' && registerPost.mensaje == 'Éxito'">
        <ul>
          <h1>Registro exitoso</h1>
          <h2>Exito: {{registerPost.exito}}</h2>
          <h2>Mensaje: {{registerPost.mensaje}}</h2>
          <img src="https://static9.depositphotos.com/1625039/1128/i/450/depositphotos_11287172-stock-photo-big-eyes.jpg"/>
        </ul>
      </ng-container>
      <ng-container *ngIf="datos && datos.nombre && !condicional">
        <ul>
          <li >Exito: {{datos.exito}}</li>
          <li >Nombre: {{datos.nombre}}</li>
          <li >Nombre del archivo: {{datos.nombrearchivo}}</li>
          <li >Nombre de la ruta: {{datos.ruta}}</li>
          <li >{{datos.mensaje}}</li>
        </ul>
      </ng-container>
    </ion-col>
  </ion-row>
</ion-content>
